server:
  port: 8080

spring:
  application:
    name: report-generator
  
  # Database Configuration
  datasource:
    url: jdbc:sqlite:gct_reporter.db
    driver-class-name: org.sqlite.JDBC
    
  # JPA Configuration
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        
  # Flyway Configuration
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
